#evnelope{
    position: relative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: #760202;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.front{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}
.flap{
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 98px solid #760202;
    transform-origin: top;
}
.pocket{
    border-left: 140px solid #cb4c4c;
    border-right: 140px solid #cb4c4c;
    border-bottom: 90px solid #d25959;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.letter{
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.12);
}
.letter:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 25%,
                     rgba(255,227,239,0.70) 55%, rgba(215,227,239,1.00) 100%);
}
.words{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #eeeff0;
}
.words.line1{
    top: 15%;
    width: 20%;
    height: 7%;
}
.words.line2{
    top: 30%;
}
.words.line3{
    top: 50%;
}
.words.line4{
    top: 70%;
}
.open .flap{
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}
.close .flap{
    transform: rotateX(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}
.close .letter{
    transform: translateY(0px);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}
.open .letter{
    transform: translateY(-60px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

/* Hearts Animation */
.hearts{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}
.heart{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.heart::before, .heart::after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background-color: #d00000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.close .heart{
    opacity: 0;
    animation: none;
}
.a1{
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: animate 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a2{
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: animate 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.a3{
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: animate 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes animate{
    0%{
        top: 0;
    }
    100%{
        top: -600px;
    }
}
@keyframes sideSway{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: 50px;
    }
}

/* Buttons */
body{
    background-color: #ffffff;
}
.evnelope-wrapper{
    height: 380px;
}

@property --overlay-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: yellow;
}

@property --overlay-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: green;
}

/* Bg Gradient */
:root {
  --bg: #df9db5;
}

body {
  min-height: 100dvh;
  background-color: var(--bg);
  background-image:
    linear-gradient(190deg, color(from var(--overlay-1) xyz x y z / 0.4), transparent 50%),
    linear-gradient(160deg, color(from var(--overlay-2) xyz x y z / 0.6), transparent 50%);
  animation: 3s linear 0s infinite alternate gradientshift;
}

@keyframes gradientshift {
  from {
    --overlay-1: rgb(229, 229, 128);
    --overlay-2: rgb(201, 124, 57);
  }
  
  to {
    --overlay-1: rgb(225, 162, 225);
    --overlay-2: rgb(113, 113, 202);
  }
}
  
  /* The Animation Keyframes */
@keyframes popup {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  60% {
    transform: translateY(20px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.accept{
    text-align: center;
}
.accept button{
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    --webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #b20000;
    border-radius: 4px;
    color: #b02b2b;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    outline: none;
}
.accept button:hover{
    background-color: #b20000;
    color: #fff;
}  

/* Hidden by default */
.overlay {
    font-weight: 800;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #2d0909;
    text-transform: uppercase;
    display: none; 
    width: 35%;
    background: #fff;
    padding: 30px;
    position: relative;
    height: 100%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.464);
    border-radius: 6px;
    text-align: center;
    animation: popup 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transform-origin: 10px 10px;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
}

